.container {
	display: flex;
	flex-direction: column;
	padding: 0 25px;
	width: 200px;
	position: fixed;
	right: 0;
	height: 100%;
	background-color: var(--theme-background);

	.profile_picture {
		width: 80px;
		margin: 10px;
	}

	.display_name {
		font-size: 16px;
		font-weight: 500;
		padding: 0px 15px;
		margin: 10px 0;
	}

	.menu {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
		align-items: center;
		gap: 6px;

		.item {
			min-width: 175px;
			text-decoration: none;
			color: var(--theme-on-background);
			padding: 0 15px;
			height: 45px;
			font-size: 16px;
			display: flex;
			flex: 1 1 auto;
			align-items: center;
			border-radius: 5px;
			cursor: default;
			background-color: transparent;
			border: none;
			box-sizing: content-box;
			font-weight: 400;
		}

		.item:not(.active):hover {
			background-color: var(--theme-primary-container);
			color: var(--theme-on-primary-container);
			cursor: pointer;
		}

		.item.active {
			background-color: var(--theme-primary);
			color: var(--theme-on-primary);
		}
	}
}