.container {
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 10px;
	gap: 10px;
	display: flex;
	flex-direction: column;
	z-index: 1000;

	.item {
		padding: 10px 15px;
		min-height: 40px;
		display: flex;
		gap: 20px;
		justify-content: center;
		align-items: center;
		background-color: var(--theme-tertiary);
		border-radius: 10px;

		> span {
			color: var(--theme-on-tertiary);
		}

		.confirmation {
			display: flex;
			gap: 15px;

			> button {
				background-color: var(--theme-on-tertiary);
				border: 0;
				padding: 10px 15px;
				border-radius: 5px;
			}
		}
	}
}